Resources/Xsd/cs_cementStage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.witsml.org/schemas/1series" 
	xmlns:witsml="http://www.witsml.org/schemas/1series" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.4.1.1">
	<!--                                                         -->
	<!-- Energistics License Agreement
	This file is distributed under the Energistics License Agreement at
	http://www.energistics.org
	Use of this file constitutes agreement with the Energistics License Agreement.
	Copyright (c) 2012 Energistics. All rights reserved.
	Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
	-->
	<!--                                                         -->
	<xsd:include schemaLocation="cs_cementingFluid.xsd"/>
	<xsd:include schemaLocation="cs_extensionNameValue.xsd"/>
	<xsd:include schemaLocation="attgrp_uid.xsd"/>
	<!--                                                         -->
	<xsd:complexType name="cs_cementStage">
		<xsd:annotation>
			<xsd:documentation> WITSML - Cement Stage Component Schema </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="numStage" type="witsml:positiveCount" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Stage number.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typeStage" type="witsml:str32" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Stage type.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dTimMixStart" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date and time when mixing started.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dTimPumpStart" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Datetime at start of pumping cement.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dTimPumpEnd" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Datetime at end of pumping cement.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dTimDisplaceStart" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date and time when displacing cement started.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mdTop" type="witsml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Measured depth at top of interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mdBottom" type="witsml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Measured depth of base of cement.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="volExcess" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Excess volume.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowrateDisplaceAv" type="witsml:volumeFlowRateMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average displacement rate.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowrateDisplaceMx" type="witsml:volumeFlowRateMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Maximum displacement rate.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presDisplace" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Final displacement pressure.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="volReturns" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Volume of returns.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="eTimMudCirculation" type="witsml:timeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mud circulation elapsed time before the job.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowrateMudCirc" type="witsml:volumeFlowRateMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Rate mud circulated during stage.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presMudCirc" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mud circulation pressure.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowrateEnd" type="witsml:volumeFlowRateMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Final displacement pump rate.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cementingFluid" type="witsml:cs_cementingFluid" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Displaced Mud, washes and spacers, cements, displacement mud.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="afterFlowAnn" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Annular flow at the end of displacement.  Values are "true" (or "1") and "false" (or "0").</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="squeezeObj" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Squeeze objective.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="squeezeObtained" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Squeeze obtained.  Values are "true" (or "1") and "false" (or "0").</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mdString" type="witsml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Measured depth of string (multi-stage cement job).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mdTool" type="witsml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Measured depth of tool (multi-stage cement job.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mdCoilTbg" type="witsml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Measured depth of CoilTubing (multi-stage cement job.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="volCsgIn" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Total volume inside casing.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="volCsgOut" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Total volume outside casing for this stage placement.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tailPipeUsed" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Tail pipe used?  Values are "true" (or "1") and "false" (or "0").</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="diaTailPipe" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Tail pipe size (diameter).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tailPipePerf" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Tail pipe perforated?  Values are "true" (or "1") and "false" (or "0").</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presTbgStart" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Tubing pressure at start of job (not coiled tubing).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presTbgEnd" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Tubing pressure at end of job.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presCsgStart" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Casing pressure at start of job.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presCsgEnd" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Casing pressure at end of job.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presBackPressure" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Constant back pressure applied while pumping the job (can be supersede by a back pressure per pumping stage)  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presCoilTbgStart" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Pressure CTU start.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presCoilTbgEnd" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Pressure CTU end  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presBreakDown" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Breakdown pressure.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowrateBreakDown" type="witsml:volumeFlowRateMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Breakdown rate.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presSqueezeAv" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Squeeze pressure average.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presSqueezeEnd" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Squeeze pressure final.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presSqueezeHeld" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Squeeze pressure held.  Values are "true" (or "1") and "false" (or "0").</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presSqueeze" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Squeeze pressure left on pipe.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="eTimPresHeld" type="witsml:timeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Time pressure held.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowrateSqueezeAv" type="witsml:volumeFlowRateMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Squeeze job average rate.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowrateSqueezeMx" type="witsml:volumeFlowRateMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Squeeze job maximum rate.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowratePumpStart" type="witsml:volumeFlowRateMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Pump rate at start of job.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowratePumpEnd" type="witsml:volumeFlowRateMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Pump rate at end of job.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pillBelowPlug" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Pill below plug.  Values are "true" (or "1") and "false" (or "0").</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="plugCatcher" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Plug catcher.  Values are "true" (or "1") and "false" (or "0").</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mdCircOut" type="witsml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Circulate out measured depth.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="volCircPrior" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Circulate prior to start of job.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typeOriginalMud" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Type of mud in hole.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wtMud" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mud density.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="visFunnelMud" type="witsml:timeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Funnel viscosity in seconds (in hole at start of job).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pvMud" type="witsml:dynamicViscosityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Plastic viscosity (in hole at start of job).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ypMud" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Yield point (in hole at start of job).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gel10Sec" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Gels-10Sec (in hole at start of job).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gel10Min" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Gels-10Min (in hole at start of job).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tempBHCT" type="witsml:thermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Bottom hole circulating temperature.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tempBHST" type="witsml:thermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Bottom hole temperature static.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="volExcessMethod" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Method to estimate excess volume.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mixMethod" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mix method.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="densMeasBy" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Method by which density is measured.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="annFlowAfter" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Fluid returns.  Values are "true" (or "1") and "false" (or "0").</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="topPlug" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Top plug used?  Values are "true" (or "1") and "false" (or "0").</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="botPlug" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Bottom plug used.  Values are "true" (or "1") and "false" (or "0").</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="botPlugNumber" type="witsml:nonNegativeCount" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Amount of bottom plug used.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="plugBumped" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Plug bumped? Values are "true" (or "1") and "false" (or "0").  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presPriorBump" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Pressure prior to bumping plug / pressure at end of displacement  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presBump" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Pressure plug bumped.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presHeld" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Pressure held to.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="floatHeld" type="witsml:logicalBoolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Float held?  Values are "true" (or "1") and "false" (or "0").</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="volMudLost" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Total mud lost.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fluidDisplace" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Displacement fluid name.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="densDisplaceFluid" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Density of displacement fluid.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="volDisplaceFluid" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Volume of displacement fluid.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extensionNameValue" type="witsml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-71, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="witsml:attgrp_uid">
			<xsd:annotation>
				<xsd:documentation>Unique identifier for the stage.</xsd:documentation>
			</xsd:annotation>
		</xsd:attributeGroup>
	</xsd:complexType>
</xsd:schema>
