Resources/Xsd/cs_drillingParams.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.witsml.org/schemas/1series" 
	xmlns:witsml="http://www.witsml.org/schemas/1series" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.4.1.1">
	<!--                                                         -->
	<!-- Energistics License Agreement
	This file is distributed under the Energistics License Agreement at
	http://www.energistics.org
	Use of this file constitutes agreement with the Energistics License Agreement.
	Copyright (c) 2012 Energistics. All rights reserved.
	Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
	-->
	<!--                                                         -->
	<xsd:include schemaLocation="cs_extensionNameValue.xsd"/>
	<xsd:include schemaLocation="attgrp_uid.xsd"/>
	<!--                                                         -->
	<xsd:complexType name="cs_drillingParams">
		<xsd:annotation>
			<xsd:documentation> WITSML - Bottom hole assembly drilling parameters component schema </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="eTimOpBit" type="witsml:timeMeasure" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Operating time spent by bit for run.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mdHoleStart" type="witsml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Measured depth at start.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mdHoleStop" type="witsml:measuredDepthCoord" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Measured depth at stop.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tubular" type="witsml:refNameString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A pointer to the tubular assembly.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hkldRot" type="witsml:forceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Hookload - rotating.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="overPull" type="witsml:forceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>hkldUp-hkldRot.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="slackOff" type="witsml:forceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>hkldRot-hkldDown.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hkldUp" type="witsml:forceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Hookload - string moving up.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hkldDn" type="witsml:forceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Hookload - string moving down.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tqOnBotAv" type="witsml:momentOfForceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average Torque - on bottom.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tqOnBotMx" type="witsml:momentOfForceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Maximum torque - on bottom.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tqOnBotMn" type="witsml:momentOfForceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Minimum torque - on bottom.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tqOffBotAv" type="witsml:momentOfForceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average torque - off bottom.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tqDhAv" type="witsml:momentOfForceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average torque - downhole.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wtAboveJar" type="witsml:forceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Weight above jars.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wtBelowJar" type="witsml:forceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Weight below jars.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wtMud" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mud density.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowratePump" type="witsml:volumeFlowRateMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Pump flow rate.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="powBit" type="witsml:powerMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Bit hydraulic.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="velNozzleAv" type="witsml:velocityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Bit nozzle average velocity.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presDropBit" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Pressure drop in bit.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cTimHold" type="witsml:timeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Time spent on hold from start of bit run.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cTimSteering" type="witsml:timeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Time spent steering from start of bit run.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cTimDrillRot" type="witsml:timeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Time spent rotary drilling from start of bit run.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cTimDrillSlid" type="witsml:timeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Time spent slide drilling from start of bit run.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cTimCirc" type="witsml:timeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Time spent circulating from start of bit run.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cTimReam" type="witsml:timeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Time spent reaming from start of bit run.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="distDrillRot" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Distance drilled - rotating.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="distDrillSlid" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Distance drilled - sliding  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="distReam" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Distance reamed.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="distHold" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Distance covered while holding angle with a steerable drilling assembly.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="distSteering" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Distance covered while actively steering with a steerable drilling assembly.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rpmAv" type="witsml:anglePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average turn rate (commonly in rpm) through Interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rpmMx" type="witsml:anglePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Maximum turn rate (commonly in rpm).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rpmMn" type="witsml:anglePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Minimum turn rate (commonly in rpm).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rpmAvDh" type="witsml:anglePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average turn rate (commonly in rpm) downhole.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ropAv" type="witsml:velocityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average rate of penetration through Interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ropMx" type="witsml:velocityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Maximum rate of penetration through Interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ropMn" type="witsml:velocityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Minimum rate of penetration through Interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wobAv" type="witsml:forceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Surface weight on bit - average through interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wobMx" type="witsml:forceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Weight on bit - maximum.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wobMn" type="witsml:forceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Weight on bit - minimum.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wobAvDh" type="witsml:forceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Weight on bit - average downhole.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reasonTrip" type="witsml:commentString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Reason for trip.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="objectiveBha" type="witsml:commentString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Objective of bottom hole assembly.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aziTop" type="witsml:planeAngleMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Azimuth at start measured depth.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="aziBottom" type="witsml:planeAngleMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Azimuth at stop measured depth.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inclStart" type="witsml:planeAngleMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Inclination at start measured depth.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inclMx" type="witsml:planeAngleMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Maximum inclination.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inclMn" type="witsml:planeAngleMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Minimum inclination.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inclStop" type="witsml:planeAngleMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Inclination at stop measured depth.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tempMudDhMx" type="witsml:thermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Maximum mud temperature downhole during run.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presPumpAv" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average pump pressure.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flowrateBit" type="witsml:volumeFlowRateMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Flow rate at bit.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mudClass" type="witsml:MudClass" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The class of the drilling fluid.</xsd:documentation> 
					<xsd:appinfo>Modified-in-version=1.4.1.1, By-issue=WCR-2012-0004, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mudSubClass" type="witsml:MudSubClass" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mud Subtype at event occurrence.</xsd:documentation> 
					<xsd:appinfo>Modified-in-version=1.4.1.1, By-issue=WCR-2012-0004, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comments" type="witsml:commentString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Comments and remarks.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extensionNameValue" type="witsml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-71, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="witsml:attgrp_uid">
			<xsd:annotation>
				<xsd:documentation>Unique identifier for the parameters.  </xsd:documentation>
			</xsd:annotation>
		</xsd:attributeGroup>
	</xsd:complexType>
</xsd:schema>
