Resources/Xsd/cs_fluid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.witsml.org/schemas/1series" 
	xmlns:witsml="http://www.witsml.org/schemas/1series" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.4.1.1">
	<!--                                                         -->
	<!-- Energistics License Agreement
	This file is distributed under the Energistics License Agreement at
	http://www.energistics.org
	Use of this file constitutes agreement with the Energistics License Agreement.
	Copyright (c) 2012 Energistics. All rights reserved.
	Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
	-->
	<!--                                                         -->
	<xsd:include schemaLocation="cs_extensionNameValue.xsd"/>
	<xsd:include schemaLocation="cs_rheometer.xsd"/>
	<xsd:include schemaLocation="attgrp_uid.xsd"/>
	<!--                                                         -->
	<xsd:complexType name="cs_fluid">
		<xsd:annotation>
			<xsd:documentation> WITSML - fluids component schema </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="type" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description for the type of fluid.  </xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-110, Change=Fix-typo</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="locationSample" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Sample location.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dTim" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The time when fluid readings were recorded. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="md" type="witsml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The measured depth where the fluid readings were recorded.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-110, Change=Fix-typo</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tvd" type="witsml:wellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The true vertical depth where the fluid readings were recorded.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-33, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presBopRating" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Maximum pressure rating of the blow out preventer.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-33, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mudClass" type="witsml:MudClass" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The class of the drilling fluid.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-33, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="density" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Fluid density.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="visFunnel" type="witsml:timeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Funnel viscosity in seconds.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tempVis" type="witsml:thermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Funnel viscosity temperature.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pv" type="witsml:dynamicViscosityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Plastic viscosity.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="yp" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Yield point (Bingham and Herschel Bulkley models).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gel10Sec" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>10 second gels.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gel10Min" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>10 minute gels.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gel30Min" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>30 minute gels.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="filterCakeLtlp" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Filter cake thickness at low (normal) temperature and pressure.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="filtrateLtlp" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>API water loss (low temperature and pressure mud filtrate measurement) (volume per 30min).  </xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-112, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tempHthp" type="witsml:thermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>High temperature high pressure (HTHP) temperature.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presHthp" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>High temperature high pressure (HTHP) pressure.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="filtrateHthp" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>High temperature high pressure (HTHP) filtrate (volume per 30min).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="filterCakeHthp" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>High temperature high pressure (HTHP) Filter cake thickness.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="solidsPc" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Solids percentage from retort (commonly in percent).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="waterPc" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Water content (commonly in percent).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="oilPc" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Oil content from retort (commonly in percent).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sandPc" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Sand content (commonly in percent).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="solidsLowGravPc" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Low gravity solids (%).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="solidsCalcPc" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Solids content (calculated) (commonly in percent).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="baritePc" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Barite content (commonly in percent).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lcm" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Lost circulation material.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mbt" type="witsml:equivalentPerMassMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Cation exchange capacity (CEC) of the mud sample as measured by methylene blue titration (MBT).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ph" type="witsml:unitlessQuantity" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mud pH.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tempPh" type="witsml:thermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mud pH measurement temperature.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pm" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Phenolphthalein alkalinity of whole mud.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pmFiltrate" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Phenolphthalein alkalinity of mud filtrate.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mf" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Methyl orange alkalinity of filtrate.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alkalinityP1" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mud alkalinity P1 from alternate alkalinity method (volume in ml of 0.02N acid 
					to reach the phenolphthalein endpoint).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="alkalinityP2" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mud alkalinity P2 from alternate alkalinity method (volume in ml of 0.02N acid
					to titrate the reagent mixture to the phenolphthalein endpoint).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="chloride" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Chloride content.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="calcium" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Calcium content.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="magnesium" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Magnesium content.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="potassium" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Potassium content.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rheometer" type="witsml:cs_rheometer" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>One or more sets of rheometer readings at given temperature and pressure.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="brinePc" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Brine content (commonly in percent).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lime" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Lime content.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="electStab" type="witsml:electricPotentialMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Measurement of the emulsion stability and oil-wetting capability in oil-based muds.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="calciumChloride" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Calcium chloride content.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="company" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of company.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="engineer" type="witsml:nameString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Engineer name  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="asg" type="witsml:unitlessQuantity" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average specific gravity of solids.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="solidsHiGravPc" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Solids high gravity (commonly in percent).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="polymer" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Polymers present in mud system.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="polyType" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Type of polymers present in mud system.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="solCorPc" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Solids corrected for Chloride content (commonly in percent).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="oilCtg" type="witsml:massConcentrationMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Oil on Cuttings.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hardnessCa" type="witsml:massConcentrationMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Total calcium hardness.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sulfide" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Sulfide content.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comments" type="witsml:commentString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Comments and remarks.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extensionNameValue" type="witsml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-71, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="witsml:attgrp_uid">
			<xsd:annotation>
				<xsd:documentation>The unique identifier of the fluid.</xsd:documentation>
			</xsd:annotation>
		</xsd:attributeGroup>
	</xsd:complexType>
</xsd:schema>
