Resources/Xsd/cs_geologyInterval.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.witsml.org/schemas/1series" 
	xmlns:witsml="http://www.witsml.org/schemas/1series" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.4.1.1">
	<!--                                                         -->
	<!-- Energistics License Agreement
	This file is distributed under the Energistics License Agreement at
	http://www.energistics.org
	Use of this file constitutes agreement with the Energistics License Agreement.
	Copyright (c) 2012 Energistics. All rights reserved.
	Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
	-->
	<!--                                                         -->
	<xsd:include schemaLocation="cs_extensionNameValue.xsd"/>
	<xsd:include schemaLocation="cs_lithology.xsd"/>
	<xsd:include schemaLocation="cs_show.xsd"/>
	<xsd:include schemaLocation="cs_chromatograph.xsd"/>
	<xsd:include schemaLocation="cs_mudGas.xsd"/>
	<xsd:include schemaLocation="cs_commonTime.xsd"/>
	<xsd:include schemaLocation="attgrp_uid.xsd"/>
	<!--                                                         -->
	<xsd:complexType name="cs_geologyInterval">
		<xsd:annotation>
			<xsd:documentation>WITSML - Geology Interval Component Schema</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="typeLithology" type="witsml:LithologySource" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The type of lithology declaration. 
					An interpreted type will specify one lithology for the whole interval (i.e., the percentage is 100%).
					A cuttings or core type may specify one or more lithologies for the interval based on a
					visual inspection of the cuttings or core and a relative percentage will be assigned to each lithology.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mdTop" type="witsml:measuredDepthCoord" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Measured depth at top of interval.
					This is an API "node-index" query parameter for growing objects. 
					See the relevant API specification for the query behavior related to this element.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.1, By-issue=42, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mdBottom" type="witsml:measuredDepthCoord" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Measured depth at base of interval.
					A point interval should be indicated by setting mdTop=mdBottom.
					This is an API "node-index" query parameter for growing objects. 
					See the relevant API specification for the query behavior related to this element.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.1, By-issue=42, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dTim" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date and time the information is related to. 
					The time refers to the top of the interval. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tvdTop" type="witsml:wellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>True vertical depth at top of the section.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tvdBase" type="witsml:wellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>True vertical depth at base of interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ropAv" type="witsml:velocityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average rate of penetration through Interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ropMn" type="witsml:velocityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Minimum rate of penetration through Interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ropMx" type="witsml:velocityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Maximum rate of penetration through Interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wobAv" type="witsml:forceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Surface weight on bit - average through interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tqAv" type="witsml:momentOfForceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average torque through interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currentAv" type="witsml:electricCurrentMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average current through interval. 
					This is the raw measurement from which the average torque could be calculated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rpmAv" type="witsml:anglePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average turn rate through interval (commonly in rpm).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wtMudAv" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average mud density in through interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ecdTdAv" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average effective circulating density at TD through Interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dxcAv" type="witsml:unitlessQuantity" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average drilling exponent through Interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lithology" type="witsml:cs_lithology" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Set of lithology records for the Interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="show" type="witsml:cs_show" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Show record through the Interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="chromatograph" type="witsml:cs_chromatograph" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Chromatographic break down for the interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mudGas" type="witsml:cs_mudGas" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Total gas readings associated with this interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="densBulk" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Sample bulk density for the interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="densShale" type="witsml:densityMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Shale density for the interval.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="calcite" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Calcimetry calcite percentage.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dolomite" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Calcimetry dolomite percentage.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cec" type="witsml:equivalentPerMassMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Cuttings cationic exchange capacity.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="qft" type="witsml:illuminanceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Fluorescence as measured using a device licensed for the 
					Quantitative Fluorescence Technique.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="calcStab" type="witsml:volumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Calcimetry stabilized percentage.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nameFormation" type="witsml:nameString" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>DEPRECATED. Formerly defined as name of formation penetrated, now deprecated to be replaced by
					lithostratigraphic with kind=formation.  </xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.1, By-issue=W-CR-043, Change=Deprecated</xsd:appinfo>
					<xsd:appinfo>Modified-in-version=1.4.1, By-issue=W-CR-043, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lithostratigraphic" type="witsml:lithostratigraphyStruct" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Name of lithostratigraphy, regionally dependent.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.1, By-issue=W-CR-043, Change=Changed-type-from:nameString</xsd:appinfo>
					<xsd:appinfo>Modified-in-version=1.4.1, By-issue=W-CR-043, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="chronostratigraphic" type="witsml:chronostratigraphyStruct" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Chronostratigraphic classification.  </xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.1, By-issue=W-CR-043, Change=Changed-type-from:nameString</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sizeMn" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Minimum size.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sizeMx" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Maximum size.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lenPlug" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Plug length.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="witsml:commentString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of item and details.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cuttingFluid" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Sample treatment : cutting fluid.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cleaningMethod" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Sample treatment : cleaning method.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dryingMethod" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Sample treatment : drying method.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comments" type="witsml:commentString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Comments and remarks.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="commonTime" type="witsml:cs_commonTime" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A container element for creation and last-change DateTime information.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=W-CR-012, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extensionNameValue" type="witsml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-71, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="witsml:attgrp_uid">
			<xsd:annotation>
				<xsd:documentation>Unique identifier for the geology interval.</xsd:documentation>
			</xsd:annotation>
		</xsd:attributeGroup>
	</xsd:complexType>
</xsd:schema>
