Resources/Xsd/cs_tubularComponent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.witsml.org/schemas/1series" 
	xmlns:witsml="http://www.witsml.org/schemas/1series" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.4.1.1">
	<!--                                                         -->
	<!-- Energistics License Agreement
	This file is distributed under the Energistics License Agreement at
	http://www.energistics.org
	Use of this file constitutes agreement with the Energistics License Agreement.
	Copyright (c) 2012 Energistics. All rights reserved.
	Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
	-->
	<!--                                                         -->
	<xsd:include schemaLocation="cs_extensionNameValue.xsd"/>
	<xsd:include schemaLocation="cs_bend.xsd"/>
	<xsd:include schemaLocation="cs_bitRecord.xsd"/>
	<xsd:include schemaLocation="cs_connection.xsd"/>
	<xsd:include schemaLocation="cs_holeOpener.xsd"/>
	<xsd:include schemaLocation="cs_nameTag.xsd"/>
	<xsd:include schemaLocation="cs_jar.xsd"/>
	<xsd:include schemaLocation="cs_mwdTool.xsd"/>
	<xsd:include schemaLocation="cs_motor.xsd"/>
	<xsd:include schemaLocation="cs_nozzle.xsd"/>
	<xsd:include schemaLocation="cs_rotarySteerableTool.xsd"/>
	<xsd:include schemaLocation="cs_stabilizer.xsd"/>
	<xsd:include schemaLocation="cs_customData.xsd"/>
	<xsd:include schemaLocation="cs_extensionAny.xsd"/>
	<xsd:include schemaLocation="attgrp_uid.xsd"/>
	<!--                                                         -->
	<xsd:complexType name="cs_tubularComponent">
		<xsd:annotation>
			<xsd:documentation>WITSML - tubular component - component schema.
			The order of the components in the XML instance is significant.
			The components are list in the order that they enter the hole.
			That is, the first component is closest to the bit.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="typeTubularComp" type="witsml:TubularComponent" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Type of component.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sequence" type="witsml:positiveCount" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The sequence within which the components entered the hole.
					That is, a sequence number of 1 entered first, 2 entered next, etc.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="witsml:commentString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of item and details.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="id" type="witsml:lengthMeasure" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Internal diameter of object.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="od" type="witsml:lengthMeasure" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Outside diameter of the body of the item.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="odMx" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Maximum outside diameter.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="len" type="witsml:lengthMeasure" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Length of the item.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lenJointAv" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Average length of joint for tubulars.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numJointStand" type="witsml:nonNegativeCount" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Number of joints per stand of tubular.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wtPerLen" type="witsml:massPerLengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Weight per unit length.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="grade" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Material grade for the tubular section.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="odDrift" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Minimum pass through diameter.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tensYield" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Yield stress of steel - worn stress.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tqYield" type="witsml:momentOfForceMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Torque at which yield occurs.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.1, By-issue=35, Change=Changed-type-from:pressureMeasure</xsd:appinfo>
					<xsd:appinfo>Modified-in-version=1.4.1, By-issue=35, Change=Modified-description</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stressFatig" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Fatigue endurance limit.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lenFishneck" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Fish neck length.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="idFishneck" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Fish neck inside diameter.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="odFishneck" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Fish neck outside diameter.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="disp" type="witsml:volumeMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Closed end displacement.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presBurst" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Burst pressure.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="presCollapse" type="witsml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Collapse pressure.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="classService" type="witsml:str32" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Service class.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="wearWall" type="witsml:lengthPerLengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Wall thickness wear (commonly in percent).  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="thickWall" type="witsml:lengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Wall thickness.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="configCon" type="witsml:BoxPinConfig" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Box/Pin configuration.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bendStiffness" type="witsml:forcePerLengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Bending stiffness of tubular.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="axialStiffness" type="witsml:forcePerLengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Axial stiffness of tubular.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="torsionalStiffness" type="witsml:forcePerLengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Torsional stiffness of tubular.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typeMaterial" type="witsml:MaterialType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Type of material.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="doglegMx" type="witsml:anglePerLengthMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Maximum dogleg severity.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vendor" type="witsml:nameString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of vendor.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="model" type="witsml:nameString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Component name from manufacturer.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nameTag" type="witsml:cs_nameTag" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An identification tag for the component tool.
					A serial number is a type of identification tag however
					some tags contain many pieces of information.
					This structure just identifies the tag and does not describe the contents.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bitRecord" type="witsml:cs_bitRecord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Bit object.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="areaNozzleFlow" type="witsml:areaMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Total area of nozzles.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nozzle" type="witsml:cs_nozzle" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Set of nozzle objects.  Examples of items that have nozzles
					are bit, hole opener, circulation sub, jetting sub, pressure relief sub. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="connection" type="witsml:cs_connection" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Connection object.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="jar" type="witsml:cs_jar" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Jar object.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mwdTool" type="witsml:cs_mwdTool" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>MWD (measurement while drilling) tool object.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="motor" type="witsml:cs_motor" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Motor object.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stabilizer" type="witsml:cs_stabilizer" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Stabilizer object.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bend" type="witsml:cs_bend" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Bend object.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="holeOpener" type="witsml:cs_holeOpener" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Hole opener object.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rotarySteerableTool" type="witsml:cs_rotarySteerableTool" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Rotary Steerable Tool.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="customData" type="witsml:cs_customData" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A container element that can contain custom or user defined 
					data elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extensionAny" type="witsml:cs_extensionAny" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Extensions to the schema using an xsd:any construct.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-71, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extensionNameValue" type="witsml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
					<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-71, Change=Added</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="witsml:attgrp_uid">
			<xsd:annotation>
				<xsd:documentation>Unique identifier for the component.  </xsd:documentation>
			</xsd:annotation>
		</xsd:attributeGroup>
	</xsd:complexType>
</xsd:schema>
