Resources/Xsd/grp_dataWorkOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 	
    elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.witsml.org/schemas/1series" 
	xmlns:witsml="http://www.witsml.org/schemas/1series"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.4.1.1">
	
	<xsd:include schemaLocation="cs_extensionNameValue.xsd"/>
	<xsd:include schemaLocation="cs_dataWorkOrderConfiguration.xsd"/>

	<xsd:group name="grp_dataWorkOrder">
		<xsd:annotation>
			<xsd:documentation>The non-contextual content of a WITSML Data Order.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dataProvider" type="witsml:nameString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The entity responsible for delivering the data specified in the order.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataConsumer" type="witsml:nameString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The entity that orders and consumes the data as defined in the order.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="witsml:commentString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of item and details.  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dTimPlannedStart" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The anticipated date and time for the commencement of data delivery.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dTimPlannedStop" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The anticipated date and time for the end of data delivery.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="assetContact" type="witsml:cs_dataWorkOrderAssetContact" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A list of contact persons for the order.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataSourceConfigurationSet" type="witsml:cs_dataSourceConfigurationSet" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A list of data configurations for the order. Each configuration contains its own set of ordered channels.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extensionNameValue" type="witsml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
				<xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
